In [1]:
import pandas as pd

### DATA PROCESSING

IMPORT CSV DATA

In [2]:
df = pd.read_excel("ispu-2010-2021.xlsx")

HILANGKAN KOLOM YANG TIDAK DIGUNAKAN

In [3]:
df_used  = df[["pm10", "pm25", "so2", "co", "o3", "no2", "max", "categori"]]
df_used.head()

   pm10  pm25  so2    co    o3   no2   max categori
0  60.0  53.0  4.0  73.0  27.0  14.0  73.0   SEDANG
1  32.0  25.0  2.0  16.0  33.0   9.0  33.0     BAIK
2  27.0  18.0  2.0  19.0  20.0   9.0  27.0     BAIK
3  22.0  17.0  2.0  16.0  15.0   6.0  22.0     BAIK
4  25.0  17.0  2.0  17.0  15.0   8.0  25.0     BAIK

CEK APAKAH ADA DATA KOSONG

In [4]:
df_used.isna().values.any()

True

In [5]:
#hilangkan data kosong untuk data train
df_used.dropna(inplace = True)

#cek ulang apakah ada data kosong
df_used.isna().values.any()

C:\Users\rairi\AppData\Local\Temp\ipykernel_43956\482707727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_used.dropna(inplace = True)

False

CEK APAKAH ADA DATA DUPLIKAT

In [6]:
df_used.duplicated().values.any()

True

INFORMASI DATA

In [7]:
df_used.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8838 entries, 0 to 10114
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pm10      8838 non-null   float64
 1   pm25      8838 non-null   float64
 2   so2       8838 non-null   float64
 3   co        8838 non-null   float64
 4   o3        8838 non-null   float64
 5   no2       8838 non-null   float64
 6   max       8838 non-null   float64
 7   categori  8838 non-null   object
dtypes: float64(7), object(1)
memory usage: 621.4+ KB

In [8]:
df_used.describe()

,pm10,pm25,so2,co,o3,no2,max
count,8838.000000,8838.000000,8838.000000,8838.000000,8838.000000,8838.000000,8838.000000
mean,53.383910,41.322471,17.954967,21.448405,65.774949,13.647205,78.475107
std,19.391683,22.357251,14.338304,12.434734,40.187409,7.355165,35.252512
min,2.000000,11.000000,0.000000,1.000000,3.000000,1.000000,16.000000
25%,41.000000,25.000000,6.000000,12.000000,36.000000,8.000000,56.000000
50%,55.000000,34.000000,14.000000,19.000000,60.000000,13.000000,73.000000
75%,65.000000,50.000000,27.000000,28.000000,84.000000,18.000000,92.000000
max,179.000000,174.000000,82.000000,134.000000,314.000000,65.000000,314.000000

In [9]:
df_used["categori"].unique()

array(['SEDANG', 'BAIK', 'TIDAK SEHAT', 'SANGAT TIDAK SEHAT', 'BERBAHAYA'],
      dtype=object)

In [10]:
df_used["categori"].value_counts()

categori
SEDANG                5872
BAIK                  1426
TIDAK SEHAT           1386
SANGAT TIDAK SEHAT     153
BERBAHAYA                1
Name: count, dtype: int64

MEMISAHKAN DATA SEBAGA FITUR DAN TARGET

In [11]:
X = df_used.drop("categori", axis = 1)
y = df_used["categori"]

Memisahkan beberapa data maximum untuk tiap fitur

In [12]:
special_x = pd.concat([X[X[i] == X[i].max()] for i in X.columns])
special_x.drop_duplicates(inplace = True)

special_y = y[special_x.index]

In [13]:
X.drop(special_x.index, inplace = True)
y.drop(special_y.index, inplace = True)

C:\Users\rairi\AppData\Local\Temp\ipykernel_43956\1193939168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.drop(special_y.index, inplace = True)

MEMBAGI DATA 80% UNTUK TRAINING DAN 20% UNTUK TESTING

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 6)

In [16]:
X_train = pd.concat([X_train, special_x])
y_train = pd.concat([y_train, special_y])

In [17]:
print(X_train.shape)
print(X_test.shape)

(6630, 7)
(2208, 7)

In [18]:
print(y_train.value_counts())
print()
print(y_test.value_counts())

categori
SEDANG                4401
BAIK                  1077
TIDAK SEHAT           1038
SANGAT TIDAK SEHAT     113
BERBAHAYA                1
Name: count, dtype: int64

categori
SEDANG                1471
BAIK                   349
TIDAK SEHAT            348
SANGAT TIDAK SEHAT      40
Name: count, dtype: int64

MELAKUKAN PELATIHAN MODEL MACHINE LEARNING

In [19]:
from sklearn.naive_bayes import CategoricalNB

model = CategoricalNB()
model.fit(X_train, y_train)

CategoricalNB()

MELAKUKAN EVALUASI PERFORMA MODEL

In [20]:
from sklearn.metrics import classification_report

print(classification_report(y_test, model.predict(X_test)))

                    precision    recall  f1-score   support

              BAIK       0.99      1.00      1.00       349
SANGAT TIDAK SEHAT       0.94      0.72      0.82        40
            SEDANG       1.00      1.00      1.00      1471
       TIDAK SEHAT       0.98      0.99      0.99       348

          accuracy                           0.99      2208
         macro avg       0.98      0.93      0.95      2208
      weighted avg       0.99      0.99      0.99      2208

PREDIKSI SEMUA DATA

In [21]:
df_used["prediksi"] = model.predict(df_used[["pm10", "pm25", "so2", "co", "o3", "no2", "max"]])

df_used

C:\Users\rairi\AppData\Local\Temp\ipykernel_43956\3851407967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_used["prediksi"] = model.predict(df_used[["pm10", "pm25", "so2", "co", "o3", "no2", "max"]])

       pm10  pm25   so2    co    o3   no2   max categori prediksi
0      60.0  53.0   4.0  73.0  27.0  14.0  73.0   SEDANG   SEDANG
1      32.0  25.0   2.0  16.0  33.0   9.0  33.0     BAIK     BAIK
2      27.0  18.0   2.0  19.0  20.0   9.0  27.0     BAIK     BAIK
3      22.0  17.0   2.0  16.0  15.0   6.0  22.0     BAIK     BAIK
4      25.0  17.0   2.0  17.0  15.0   8.0  25.0     BAIK     BAIK
...     ...   ...   ...   ...   ...   ...   ...      ...      ...
10107  60.0  53.0  21.0  15.0  19.0  13.0  60.0   SEDANG   SEDANG
10109  53.0  75.0  25.0  15.0  23.0  44.0  75.0   SEDANG   SEDANG
10110  62.0  85.0  52.0  23.0  20.0  14.0  85.0   SEDANG   SEDANG
10111  61.0  85.0  33.0  23.0  37.0  44.0  85.0   SEDANG   SEDANG
10114  60.0  87.0  28.0  19.0  30.0  53.0  87.0   SEDANG   SEDANG

[8838 rows x 9 columns]

FUNGSI UNTUK INPUT DATA

In [22]:
def predictThisData(data, model) :
    inputData = {X.columns[i] : [data[i]] for i in range(X.shape[1])}
    dfs = pd.DataFrame(inputData)
    
    return model.predict(dfs)[-1]

In [23]:
predictThisData([24,35,12,17,20,12,35], model)

'BAIK'

Export Model dan Data Train ke pickle file

In [24]:
import pickle

pickle.dump(X, open('../../../model/ml/classification/train.pkl', 'wb'))
pickle.dump(model, open('../../../model/ml/classification/model.pkl', 'wb'))